h3, p {
    text-align: center;
}

.nodelink {
  color: inherit;
  text-decoration: inherit;
}

.nodelink:hover {
    color: inherit;
}

.search {
    width: 90%;
    height: 60px;
    border-radius: 24px;
    margin: 20px auto 15px;
    font-size: 36px;
    background-color: #eeeeee;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

input[type=text] {
    font-family: inherit;
    padding: 5px 0 5px 10px;
    width: 85%;
    margin: 0;
    float: left;
    height: 50px;
    border: none;
    outline: none;
    background-color: #eeeeee;
    font-size: 24px;
    border-radius: 24px 0 0 24px;
    transition: background-color 0.2s ease-out;
}

input[type=text]:focus {
    background-color: white;
}

input[type=submit] {
    background-color: blue;
    border: none;
    outline: none;
    font-size: 24px;
    width: calc(15% - 10px);
    color: white;
    float: left;
    height: 60px;
    border-radius: 0 24px 24px 0;
    cursor: pointer;
    transition: 100ms ease-out;
}

input[type=submit]:hover {
    background-color: transparent;
    color: black;
}

.node {
    width: 95%;
    min-height: 40px;
    border-radius: 24px;
    margin: 15px auto;
    padding: 15px 5px;
    font-size: 32px;
    background-color: whitesmoke;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-wrap: wrap;
}

.node:hover {
    background-color: #eeeeee;
}

.node > .elem {
    margin: 0 0 0 5px;
    padding-left: 5px;
    top: 50%;
    border-left: 4px solid blue;
    width: calc(25% - 14px);
    float: left;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    flex-direction: column;
    justify-content: center;
}

.node > .elem::-webkit-scrollbar {
    display: none;
}

#more {
    height: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    border-radius: 24px;
}

@media screen and (max-width: 800px) {
    input[type=submit] {
        display: none;
    }
    input[type=text] {
        width: calc(100% - 10px);
        border-radius: 24px;
    }
    .node > .elem {
      width: calc(50% - 14px);
      height: 50%;
    }
}