.full {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 50%;
    height: 70%;
    margin: auto;
}

@media screen and (max-width: 800px) {
    .wrapper {
        width: 96%;
    }
}

.inline {
    display: inline;
    white-space: nowrap;
}

#id {
    filter: blur(5px);
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

#id:hover { 
    filter: none;
}